extends index

block content
    .container
        .row
            div.auction
                h1= 'Title:' + result.auction.name
                h2= 'Item For sale:' + result.auction.item
                span= 'Creator: ' + result.auction.creator

    // Loaded scripts
    script(src='static/js/jquery.js')
    script(src='static/js/bootstrap.min.js')