extends index

block content
    .container
        .row
            each auction in result.auctions
                div.auction
                    h1= 'Title:'
                        a(href='auctions/'+auction.id)= auction.name
                    h2= 'Item For sale:' + auction.item
                    span= 'Creator: ' + auction.creator
    // Loaded scripts
    script(src='static/js/jquery.js')
    script(src='static/js/bootstrap.min.js')