extends index

block content
    .container
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-login
                    .panel-heading
                        .row
                            .col-xs-6
                                span Create Auction
                            hr
                    .panel-body
                        .row
                            .col-lg-12
                                form#register-form(enctype="multipart/form-data", action='/auctions', method='POST', role='form', style='display: block;')
                                    .form-group
                                        input#auction-title.form-control(type='text', name='title', tabindex='1', placeholder='Auction Title', value='')
                                    .form-group
                                        input#password.form-control(type='text', name='item', tabindex='2', placeholder='Auction Item')
                                    .form-group
                                        input#minPrice.form-control(type='number', name='minPrice' tabindex='3', placeholder='Min Price')
                                    .form-group
                                        input#end-hour.form-control(type='number', name='end', placeholder='Auction Duration (Hours)')
                                    .form-group
                                        label.control-label="Select Auction Image"
                                        input.btn.btn-default.btn-xs.form-control(type="file", name="auctionPhoto")
                                    .form-group
                                        .row
                                            .col-sm-6.col-sm-offset-3
                                                input#register-submit.btn-success.form-control.btn.btn-register(type='submit', name='create-submit', tabindex='4', value='Create Auction')