a {
    text-decoration: none;
}

.form-group {
    text-align: center;
    margin: 0;
}

.form-control {
    display: inline-block;
}

.filter-col {
}

#pref-search {
    width: 50%;
    color: dodgerblue;
}

#button-send-search {
    width: 20%;
    margin-left: 20px;
    background-color: dodgerblue;
    color: white;
}

.auctions {
    width: 100%;
    display: inline-block;
    text-align: right;

}

.auction {
    display: inline-block;
    width: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.55);
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 5px;

    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.auction-info {
    display: inline-block;
    width: 60%;
    text-align: left;
    padding-left: 20px;
    vertical-align: top;
}

.auction-title {
    color: dimgray;
}

.auction-name {
    color: orangered;
}

.auction-item {
    color: dimgray;
}

.auction-creator {
    color: dimgray;
}

.auction-image {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.auction-image img {
    display: inline-block;
    width: 100%;
    padding: 5px;
    min-width: 120px;
}

.bid-and-time {background-color: orangered;
    display: inline-block;
    width: 15%;
    float: none;
    vertical-align: middle;
    font-size: 21px;
    margin-top: 21px;
    margin-bottom: 21px;
    text-align: center;
    border: 1px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
}
.bid{
    display: block;
    padding: 35px 0;
    text-decoration: none;
    color: whitesmoke;
}
.time{
    background-color: white;
    color: orangered;
    display: block;
    border: 1px solid orangered;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.filter-col {
    padding-left: 10px;
    padding-right: 10px;
}
