a:link, a:active {
    text-decoration: none;
}

body {
    background-image: url('../img/ignasi_pattern_s.png');
    background-repeat: repeat;

}
.pull-right {
    position: relative;
}

.open-info {
    visibility: hidden;
    color: white;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 1px;
    top: 81px;
    text-align: center;
    border: 1px solid whitesmoke;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.open-info-greeting {
    font-size: 21px;
    font-family: "Freehand521 BT", serif;
    padding: 35px 40px;
}

.open-info-greeting hr {
    height: 1px;
    border: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f4f4f+0,d6d6d6+50,4f4f4f+100 */
    background: rgb(79, 79, 79); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(79, 79, 79, 1) 0%, rgba(214, 214, 214, 1) 50%, rgba(79, 79, 79, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(79, 79, 79, 1) 0%, rgba(214, 214, 214, 1) 50%, rgba(79, 79, 79, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(79, 79, 79, 1) 0%, rgba(214, 214, 214, 1) 50%, rgba(79, 79, 79, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#4f4f4f', GradientType=1); /* IE6-9 */

}

.open-info a {
    color: whitesmoke;
    width: 10vw;
    padding: 20px 35px;
}

#logo {
    display: inline-block;
    width: 75px;
    height: auto;
}
.navbar-brand{
    float: none;
    vertical-align: middle;
    font-size: 1.2vw;
}
.profile-name{
    vertical-align: middle;
    font-size: 1.2vw;
    color: lightgray;
}
.pull-right{
    margin: 3px 0;
}
.mini-profile-image {
    width: 48px;
    height: 48px;
    border: 2px solid darkgray;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
}

.navbar-nav:hover > .open-info {
    visibility: visible;
}

.jumbotron {
    margin-top: 0;
    height: 35vw;
    background-image: url('../img/JuniorsLogo.png');
    background-color: rgba(46, 60, 64, 1);
    background-size: cover;
    background-repeat: no-repeat;
}