extends index.pug

block content
  .container
    .fb-profile
      img.fb-image-lg(align='left', src='http://lorempixel.com/850/280/nightlife/5/', alt='Profile image example')
      img.fb-image-profile.thumbnail(align='left', src='' + result.image, alt='Profile image example')
      .fb-profile-text
        h1= result.username
